<template>
  <div>
    <h1>Prueba para traer todos los todos</h1>
    <div v-if="loading" class="text-center">
      <v-progress-circular
        :size="50"
        color="primary"
        indeterminate
      ></v-progress-circular>
    </div>

    <v-list v-else>
      <v-list-item
        v-for="todo in todos"
        :key="todo.id"
        link
        :to="'todos/' + todo.id"
      >
        <v-list-item-content>
          <v-list-item-title v-text="todo.title"></v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </div>
</template>

<script>
import todosServices from "@/services/todos.services";

export default {
  name: "TodosView",

  data: () => ({
    todos: [],
    loading: true,
  }),

  async created() {
    const todos = await todosServices.getTodos();
    this.todos = todos.data;
    this.loading = false;
  },
};
</script>
