<template>
  <div>
    <div v-if="loading" class="text-center">
      <v-progress-circular
        :size="50"
        color="primary"
        indeterminate
      ></v-progress-circular>
    </div>

    <div v-else>
      <h1 class="text-h1">{{ todo.title }}</h1>
      <h6 v-if="todo.completed" class="text-h6 success--text">Completada</h6>
      <h6 v-else class="text-h6 warning--text">Incompleta</h6>
    </div>
  </div>
</template>
<script>
import todosServices from "@/services/todos.services";

export default {
  name: "TodoView",

  data: () => ({
    todo: null,
    loading: true,
  }),

  async created() {
    const id = this.$route.params.id;
    const resTodo = await todosServices.getTodo(id);
    this.todo = resTodo.data;
    this.loading = false;
  },
};
</script>
