<template>
  <v-card height="100vh" class="mx-auto">
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title class="text-h6"> Application </v-list-item-title>
        <v-list-item-subtitle> subtext </v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>

    <v-divider></v-divider>

    <v-list dense nav>
      <v-list-item
        v-for="route in routes"
        :key="route.title"
        link
        :to="route.link"
      >
        <v-list-item-icon>
          <v-icon>{{ route.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ route.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-card>
</template>

<script>
export default {
  name: "NavBar",
  data: () => ({
    routes: [
      {
        title: "Inicio",
        icon: "mdi-home",
        link: "/",
      },
      {
        title: "Pendientes",
        icon: "mdi-list-box",
        link: "/todos",
      },
    ],
  }),
};
</script>
